// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.testing{
    color: aqua;
}
.bg-light{
    padding: 10px 20px;

}
nav.navbar.bg-light > svg{
    width: 100px !important;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    }
}

.flex{
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

